@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #dcdcff;
    /*background-image: radial-gradient(
    at 0% 0%, 
    #D1F5FF 0%, 
    #3DCDF5 100%
    );*/
     background-image: radial-gradient(rgb(0, 1, 57) 5%, rgb(0, 0, 29) 15%, rgb(0, 0, 0) 60%);
    background-attachment: fixed;
}

#header {
    align-items: center;
    display: flex;
    margin-top: -10px;
}

h1 {
    font-size: 50px;
    color: rgb(26, 9, 92);
    text-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 5px #302685,
      0 0 5px #302685,
      0 0 5px #302685,
      0 0 5px #302685,
      0 0 5px #302685;
    font-family: 'Zilla Slab', serif;
    margin-left: 20px;
}

#searchBar {
    height: 40px;
    border: 1px solid white;
    padding: 0;
    margin-left: 60px;
    font-size: 15px;
    border-right: 0;
    outline: none;
    background-color: transparent;
}

select {
    width: 400px;
}

#searchButton {
    height: 42px;
    border: 1px solid white;
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgb(1, 3, 107), rgb(0, 1, 51));
    color: #778dcc;
    font-family: "Zilla Slab", serif;
}

.dropdownButtons {
    background: none;
    border: none;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Zilla Slab", serif;
    color: white;
}

#popularButton {
    margin-left: -30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#menuPopular {
    position: relative;
    display: inline-block;
    width: 80px;
    margin-left: 130px;
}

#dropdownContentPopular {
    overflow: hidden;
    width: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: #a5adca;
    transition: height 0.3s;
    flex-direction: column;
    height: 180px;
    margin-left: -36px;
    margin-top: 0px;
    box-shadow: 1px 1px 3px 0px black;
}

.popularContentButtons {
    background: none;
    border: none;
    font-family: "Zilla Slab", serif;
    font-size: 17px;
    margin-top: 10px;
    display: block;
}

#dropdownContentPopular a:hover {
    background-color: #000000;
}

#dropdownContentPopular a button.popularContentButtons {
    background-color: transparent !important; /* Use !important only as a last resort */
    border: none !important;
}

#dropdownContentPopular a {
    display: block; 
}


@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}